.title{
  color: red;
}
.left{
  width: 256px;
  height: 100vh;
  display: inline-block;
}
.leftTitle{
  text-align: center;
  font-size: 20px;
  height:6vh;
  background-color: #002140;
  color: #DCE1E5;
  line-height: 6vh;
}
.leftmeau{
  background-color: #001529;
  height:123vh;
}
.meaulist{
  text-align: center;
  width: 100%;
  color: #8D969F;
}
.right{
  width: 86.6%;
  text-align: center;
  padding-top: 20px;
}
.main{
  display: flex;

}
.righttitle{
  display: flex;
  justify-content: space-between;
  height: 6vh;
  line-height: 6vh;
  border-bottom: solid 1px #E0E0E6;
}
.leftone{
  margin-left: 20px;
}
.lefttwo{
  margin-right: 20px;
}
.rightmain{
  height: 94vh;
  width: 100%;
  background-color: #EBEAEF;
  padding: 10px;
}
.wedata{
  width: 100%;
  height: 40vh;
  background-color: white;
  padding: 15px 15px 25px 15px;
}
.wedatamain{
  width: 100%;
  height: 48%;
  background-color: #F0F0F0;
}
.wetitle{
  background-color: #E3E3E3;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 25px;
}
.wexinxi{
  margin-top: 25px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-around;
}
.wefont{
  font-size: 16px;
  text-align: center;
}
.weline{
  text-align: center;
}
.wemainleft{
  font-size: 27px;
  font-weight: 600;
}
.wemainright{
  vertical-align: top;
  color: #4DCB73;
  margin-left: 10px;
}
.topwemain{
  display: flex;
  justify-content: space-between;
  height: 100%;
 
}
.topmainleft{
   width: 30%;
  background-color: #F0F0F0;
}
.topright{
  width: 69%;
  background-color: #F0F0F0;
}
.wetoptitle{
  display: flex;
  justify-content: space-around;
}
.listdata{
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}
.listtext{
  font-size: 16px;
  font-weight: 600;
}